{% extends "layout.html" %}

{% block title %}
<title>WhoOwesWhat - Login</title>
{% endblock %}

{% block content %}

Log in:
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <div name="form_field">
        <label for="username">Username:</label>
        <input type="text" name="username" />
    </div>
    <div name="form_field">
        <label for="password">Password:</label>
        <input type="text" name="password" />
    </div>
    <input type="submit" id="submit" value="Log in">
</form>
{% endblock %}