{% extends "layout.html" %}

{% block title %}
<title>WhoOwesWhat - {{ event.name }} Payments</title>
{% endblock %}

{% block content %}

<p>Payments:</p>
{% if event.payments %}
<ul id="payments">
{% for payment in event.payments %}
<li>{{ payment.payer }}: {{ '{0:0.2f}'.format(payment.amount) }}
| <a href="{{ url_for('delete_payment',event_id=event.id,payment_id=payment.id) }}"
name='delete-payment-{{ payment.payer }}'> delete </a>
</li>
{% endfor %}
</ul>
<br>
<p>Who Owes Who:</p>
<ul id="whooweswho">
{% for payment in payment_list %}
<li>{{ payment[0] }} owes {{ payment[1] }} {{ payment[2] }} dollars</li>
{% endfor %}
</ul>
{% else %}
<p>No payments :-(</p>
{% endif %}

<br>

<p>Record a payment:</p>
<form action="/make-payment/{{ event.id }}" method="POST" name="make-payment">
{{ form.hidden_tag() }}
Payer: {{ form.payer(size=60) }}
Amount: {{ form.amount(size=30) }}
<input type="submit" id="submit" value="Submit Payment">
</form>

{% endblock %}