{% extends "layout.html" %}

{% block title %}
<title>WhoOwesWhat - {{ event.name }} Payments</title>
{% endblock %}

{% block content %}
<h2>Payments:</h2>
{% if event.payments %}
<h4>
<ul id="payments">
{% for payment in event.payments %}
<li>{{ payment.payer }}: {{ '{0:0.2f}'.format(payment.amount) }}
| <a href="{{ url_for('delete_payment',event_id=event.id,payment_id=payment.id) }}"
name='delete-payment-{{ payment.payer }}'> delete </a>
</li>
{% endfor %}
</ul>
</h4>
<h2>Who Owes Who:</h2>
<h4>
<ul id="whooweswho">
{% for payment in payment_list %}
<li>{{ payment[0] }} owes {{ payment[1] }} {{ payment[2] }} dollars</li>
{% endfor %}
</ul>
</h4>
{% else %}
<h2>No payments :-(</h2>
{% endif %}

<br>

<h3>Record a payment:</h3>
<form action="/make-payment/{{ event.id }}" method="POST" name="make-payment">
{{ form.hidden_tag() }}
<h4>Payer: {{ form.payer(size=60) }}<br></h4>
<h4>Amount: {{ form.amount(size=30) }}<br></h4>
<input type="submit" id="submit" value="Submit Payment">
</form>

{% endblock %}